NOTE: Scale all individual scores before adding to final SDG because of scale change, there is very high or low impact. so relative scoring is very important here.

In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv('CensusBase_SDGV8.csv')

In [3]:
for i in df.index:
    df['Building'][i] = df['Building'].iloc[i].strip()

In [4]:
#df.columns

In [5]:
df['1.1.1'] = None
df['1.2.1'] = None
df['1.4.1'] = None
df['1.a.2'] = None

In [6]:
#df['Sex ratio'].replace({',':''}, inplace = True)

In [7]:
for i in df.index:
    inc = df['Income'].iloc[i]
    pop = df['TotalPopulation'].sum()
    if inc<=500:
        a = (df['TotalPopulation'].iloc[i]/pop)*100
        df['1.1.1'].iloc[i] = 0 - a
    else:
        df['1.1.1'].iloc[i] = 0

In [8]:
col = '1.1.1'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [9]:
for i in df.index:
    df['1-3'].iloc[i] = df['1-3'].iloc[i][: -1]
    df['4'].iloc[i] = df['4'].iloc[i][: -1]
    df['5+'].iloc[i] = df['5+'].iloc[i][: -1]

In [10]:
df['Sex ratio']=df['Sex ratio'].str.replace(',','')

In [11]:
for i in df.columns:
    try:
        df[i] = df[i].astype(float)
    except:
        print('Error')

Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error

In [12]:
for i in df.index:
    inc = df['Income'].iloc[i]
    val = 0
    if inc <= 10000:
        a = df['TotalPopulation'].iloc[i] * df['1-3'].iloc[i]
        a = a/df['TotalPopulation'].sum()
        val = val+a
        if inc <= 20800:
            a = df['TotalPopulation'].iloc[i] * df['4'].iloc[i]
            a = a/df['TotalPopulation'].sum()
            val = val+a
            if inc <= 21000:
                a = df['TotalPopulation'].iloc[i] * df['5+'].iloc[i]
                a = a/df['TotalPopulation'].sum()
                val = val+a
    df['1.2.1'].iloc[i] = 0-val

In [13]:
col = '1.2.1'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [14]:
df['Male'] = None
df['Female'] = None

In [15]:
for i in df.index:
    ratio = df['Sex ratio'].iloc[i]
    pop = df['TotalPopulation'].iloc[i]
    male = (ratio*pop)/(1000+ratio)
    male = male.round(2)
    female = pop-male
    female = female.round(2)
    df['Male'].iloc[i] = male
    df['Female'].iloc[i] = female

In [16]:
df.drop(columns= ['Sex ratio'], inplace = True)

In [17]:
df['1.a.2'] = df['SchoolScore'] + df['HospitalScore']

In [18]:
col = '1.a.2'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [19]:
df['1.4.1'] = df['TotalScore'] * 0.186

In [20]:
col = '1.4.1'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [21]:
df.columns

Index(['Building', 'lat', 'lon', 'SchoolScore', 'HospitalScore', 'PoliceScore',
       'WasteManagementScore', 'ElderlyCareScore', 'ChildCareScore',
       'OpenAreaScore', 'FisheriesScore', 'TotalScore',
       'District/Area/Building Group', 'Region', 'District', 'TotalPopulation',
       'Working population', 'length', 'Income', '1-3', '4', '5+',
       'Managers and administrators', 'Born in Hong Kong',
       'Import/export, wholesale and retail trades, accommodation and food services',
       'NonWorkingPopulation',
       'Public administration, education, human health and social work activities, miscellaneous social and personal services',
       'Studying and living  in the same District Council district', '15 - 39',
       'Manufacturing, construction, and other industries',
       'Elementary occupations , skilled agricultural and fishery workers and occupations not classifiable',
       'WorkingHours', 'Bus', 'LightBus', '< 15', '15 - 39.1', '40 - 64',
       '65+', 'Address', '1.1.1', '1.2.1', '1.4.1', '1.a.2', 'Male', 'Female'],
      dtype='object')

In [22]:
df = df[['District/Area/Building Group', 'Building', 'lat', 'lon', 'Region', 'NonWorkingPopulation', 'Born in Hong Kong', 
       'District', 'TotalPopulation', 'Working population', 'Male', 'Female', 'Income','OpenAreaScore', 'WasteManagementScore', 'HospitalScore', 'SchoolScore', 'Managers and administrators',
        'FisheriesScore', 'PoliceScore','ElderlyCareScore', 'ChildCareScore', 
         'Elementary occupations , skilled agricultural and fishery workers and occupations not classifiable',
         'Manufacturing, construction, and other industries', 'Bus', 'LightBus', 
         'Public administration, education, human health and social work activities, miscellaneous social and personal services',
        '1-3', '4', '5+', 'Studying and living  in the same District Council district', 'WorkingHours', '< 15',
     '15 - 39', '40 - 64', '65+', '1.1.1', '1.2.1', '1.4.1', '1.a.2']]

In [23]:
df['2.3.2'] = None
df['SDG2'] = None

In [24]:
for i in df.index:
    df['Elementary occupations , skilled agricultural and fishery workers and occupations not classifiable'].iloc[i] = df['Elementary occupations , skilled agricultural and fishery workers and occupations not classifiable'].iloc[i][: -1]
    df['Public administration, education, human health and social work activities, miscellaneous social and personal services'].iloc[i] = df['Public administration, education, human health and social work activities, miscellaneous social and personal services'].iloc[i][: -1]
    df['Studying and living  in the same District Council district'].iloc[i] = df['Studying and living  in the same District Council district'].iloc[i][:-1]
    df['Managers and administrators'].iloc[i] = df['Managers and administrators'].iloc[i][:-1]
    df['WorkingHours'].iloc[i] = df['WorkingHours'].iloc[i][:-5]
    df['NonWorkingPopulation'].iloc[i] = df['NonWorkingPopulation'].iloc[i][:-1]
    df['< 15'].iloc[i] = df['< 15'].iloc[i][:-1]
    df['15 - 39'].iloc[i] = df['15 - 39'].iloc[i][:-1]
    df['40 - 64'].iloc[i] = df['40 - 64'].iloc[i][:-1]
    df['65+'].iloc[i] = df['65+'].iloc[i][:-1]
    df['Manufacturing, construction, and other industries'].iloc[i] = df['Manufacturing, construction, and other industries'].iloc[i][:-1]
    df['Born in Hong Kong'].iloc[i] = df['Born in Hong Kong'].iloc[i][:-1]
    df['Bus'].iloc[i] = df['Bus'].iloc[i][:-1]
    df['LightBus'].iloc[i] = df['LightBus'].iloc[i][:-1]

In [25]:
for i in df.columns:
    try:
        df[i] = df[i].astype(float)
    except:
        print('Error')

Error
Error
Error
Error

In [26]:
for i in df.index:
    inc = df['Income'].iloc[i]
    food = df['Elementary occupations , skilled agricultural and fishery workers and occupations not classifiable'].iloc[i]
    food = food/100
    pop = df['Working population'].iloc[i]
    foodpop = food*pop
    a = (inc * foodpop)/pop
    df['2.3.2'].iloc[i] = a

In [27]:
col = '2.3.2'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [28]:
df['3.b.3'] = df['HospitalScore']

In [29]:
col = '3.b.3'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [30]:
df['3.c.1'] = None

In [31]:
for i in df.index:
    pop = df['Working population'].iloc[i]
    health = df['Public administration, education, human health and social work activities, miscellaneous social and personal services'].iloc[i]
    a = (pop * health)/100
    df['3.c.1'].iloc[i] = a
    #df['3.c.1'].iloc[i] = df['3.c.1'].iloc[i].round(2)

In [32]:
col = '3.c.1'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [33]:
df['4.1.1'] = None
df['4.a.1'] = None
df['4.c.1'] = None

In [34]:
for i in df.index:
    study = df['Studying and living  in the same District Council district'].iloc[i]
    pop = df['TotalPopulation'].iloc[i]
    a = (study * pop)/100
    df['4.1.1'].iloc[i] = a

In [35]:
col = '4.1.1'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [36]:
df['4.a.1'] = df['SchoolScore']

In [37]:
col = '4.a.1'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [ ]:
for i in df.index:
    pop = df['Working population'].iloc[i]
    education = df['Public administration, education, human health and social work activities, miscellaneous social and personal services'].iloc[i]
    a = (pop * education)/100
    df['4.c.1'].iloc[i] = a
    #df['4.c.1'].iloc[i] = df['4.c.1'].iloc[i].round(2)

In [ ]:
col = '4.c.1'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [ ]:
#df['IncomeQuartile'] = pd.qcut(df.Income, np.linspace(0,1,11), labels=np.linspace(0.1,1,10))

In [ ]:
#df['IncomeQuartile'] = df['IncomeQuartile'].astype(float)

In [ ]:
#df['IncomeQuartile'] = np.round(df['IncomeQuartile'],1)

In [ ]:
df['5.2.1'] = None
df['5.2.2'] = None
df['5.4.1'] = None
df['5.5.1'] = None
df['5.5.2'] = None

In [ ]:
for i in df.index:
    female = df['Female'].iloc[i]
    a = ((female * 13.4)/100) + ((female * 11.7)/100)
    df['5.2.1'].iloc[i] = a

In [ ]:
col = '5.2.1'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [ ]:
for i in df.index:
    female = df['Female'].iloc[i]
    a = (female * 11.7)/100
    df['5.2.2'].iloc[i] = a
    #df['5.2.2'].iloc[i] = df['5.2.2'].iloc[i].round(2)

In [ ]:
col = '5.2.2'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [ ]:
for i in df.index:
    f = 0.108 * 24
    m = 0.033 * 24
    female = df['Female'].iloc[i] * f
    male = df['Male'].iloc[i] * m
    a = female + male
    df['5.4.1'].iloc[i] = a

In [ ]:
col = '5.4.1'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [ ]:
for i in df.index:
    f = df['Female'].iloc[i]
    gov = 0.352
    a = f * gov
    df['5.5.1'].iloc[i] = a

In [ ]:
col = '5.5.1'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [ ]:
for i in df.index:
    manager = df['Managers and administrators'].iloc[i]
    female = df['Female'].iloc[i]
    working = df['Working population'].iloc[i]
    female = (female * working)/100
    a = (manager * female)/100
    df['5.5.2'].iloc[i] = a
    #df['5.5.2'].iloc[i] = df['5.5.2'].iloc[i].round(2)

In [ ]:
col = '5.5.2'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [ ]:
df['6.1.1'] = None
df['6.3.1'] = None

In [ ]:
for i in df.index:
    pop = df['TotalPopulation'].iloc[i]
    a = 10
    b = 0.91
    b = (pop * b)
    df['6.1.1'].iloc[i] = a
    df['6.3.1'].iloc[i] = b
    #df['6.3.1'].iloc[i] = df['6.3.1'].iloc[i].round(2)

In [ ]:
col = '6.3.1'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [ ]:
df['7.1.1'] = None

In [ ]:
for i in df.index:
    a = 10
    df['7.1.1'].iloc[i] = a

In [ ]:
df['8.3.1'] = None
df['8.5.1'] = None
df['8.5.2'] = None
df['8.6.1'] = None

In [ ]:
for i in df.index:
    working = df['Working population'].iloc[i]
    informal = df['Elementary occupations , skilled agricultural and fishery workers and occupations not classifiable'].iloc[i]
    a = (working * informal)/100
    df['8.3.1'].iloc[i] = a
    #df['8.3.1'].iloc[i] = df['8.3.1'].iloc[i].round(2)

In [ ]:
col = '8.3.1'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [ ]:
for i in df.index:
    workinghours = df['WorkingHours'].iloc[i]
    #pop = df['Working population'].iloc[i]
    income = df['Income'].iloc[i]
    a = income/workinghours
    df['8.5.1'].iloc[i] = a
    #df['8.5.1'].iloc[i] = df['8.5.1'].iloc[i].round(2)

In [ ]:
col = '8.5.1'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [ ]:
for i in df.index:
    not_working = df['NonWorkingPopulation'].iloc[i]
    pop = df['TotalPopulation'].iloc[i]
    a = (not_working * pop)/100
    df['8.5.2'].iloc[i] = a
    #df['8.5.2'].iloc[i] = df['8.5.2'].iloc[i].round(2)

In [ ]:
col = '8.5.2'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [ ]:
for i in df.index:
    not_working = df['NonWorkingPopulation'].iloc[i]
    age_range = df['15 - 39'].iloc[i]
    people = (not_working * age_range)/100
    people = (people * 10)/25
    df['8.6.1'].iloc[i] = people
    #df['8.6.1'].iloc[i] = df['8.6.1'].iloc[i].round(2)

In [ ]:
col = '8.6.1'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [ ]:
df['9.2.2'] = None

In [ ]:
for i in df.index:
    working = df['Working population'].iloc[i]
    manufacturing = df['Manufacturing, construction, and other industries'].iloc[i]
    people = (working * manufacturing)/100
    a = people/working
    df['9.2.2'].iloc[i] = a

In [ ]:
col = '9.2.2'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [ ]:
df['10.2.1'] = None
df['10.7.4'] = None

In [ ]:
median = df['Income'].mean()
median = median/2
median = round(median,2)

In [ ]:
for i in df.index:
    inc = df['Income'].iloc[i]
    if inc<=median:
        a = df['TotalPopulation'].iloc[i]
    else:
        a = 0
    a = 0-a
    df['10.2.1'].iloc[i] = a

In [ ]:
col = '10.2.1'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [ ]:
for i in df.index:
    bornhk = df['Born in Hong Kong'].iloc[i]
    nothk = 100 - bornhk
    pop = df['TotalPopulation'].iloc[i]
    a = (nothk * pop)/100
    df['10.7.4'].iloc[i] = a
    #df['10.7.4'].iloc[i] = df['10.7.4'].iloc[i].round(2)

In [ ]:
col = '10.7.4'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [ ]:
df['11.2.1'] = None
df['11.6.1'] = None
df['11.7.1'] = None

In [ ]:
for i in df.index:
    bus = df['Bus'].iloc[i]
    lightbus = df['LightBus'].iloc[i]
    public = bus + lightbus
    working = df['Working population'].iloc[i]
    a = (working * public)/100
    a = a/working
    df['11.2.1'].iloc[i] = a

In [ ]:
col = '11.2.1'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [ ]:
df['11.6.1'] = df['WasteManagementScore']

In [ ]:
col = '11.6.1'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [ ]:
df['11.7.1'] = df['OpenAreaScore']

In [ ]:
col = '11.7.1'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [ ]:
df['12.5.1'] = None

In [ ]:
for i in df.index:
    wastemgmt = df['WasteManagementScore'].iloc[i]
    recycled = 0.31
    a = wastemgmt * recycled
    df['12.5.1'].iloc[i] = a

In [ ]:
col = '12.5.1'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [ ]:
df['13.1.1'] = None

In [ ]:
for i in df.index:
    pop = df['TotalPopulation'].iloc[i]
    missing = 55/100000
    a = pop*missing
    df['13.1.1'].iloc[i] = a

In [ ]:
col = '13.1.1'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [ ]:
df['14.7.1'] = df['FisheriesScore']

In [ ]:
col = '14.7.1'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [ ]:
df['15.1.1'] = 0.23
df['15.1.2'] = df['FisheriesScore']
df['15.4.2'] = 10

In [ ]:
col = '15.1.2'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [ ]:
df['16.1.1'] = None
df['16.1.2'] = None
df['16.2.3'] = None

In [ ]:
for i in df.index:
    homocide = 0.64/100000
    pop = df['TotalPopulation'].iloc[i]
    a = homocide*pop
    a = 0-a
    df['16.1.1'].iloc[i] = a

In [ ]:
col = '16.1.1'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [ ]:
for i in df.index:
    conflict = 940/100000
    pop = df['TotalPopulation'].iloc[i]
    a = conflict*pop
    a = 0-a
    df['16.1.2'].iloc[i] = a

In [ ]:
col = '16.1.2'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [ ]:
for i in df.index:
    sexualviolence = 0.01/100000
    pop = df['TotalPopulation'].iloc[i]
    a = sexualviolence*pop
    a = 0-a
    df['16.2.3'].iloc[i] = a

In [ ]:
col = '16.2.3'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [ ]:
df['17.6.1'] = None
df['17.8.1'] = None

In [ ]:
for i in df.index:
    broadband = 38.94/100
    pop = df['TotalPopulation'].iloc[i]
    a = broadband * pop
    df['17.6.1'].iloc[i] = a

In [ ]:
col = '17.6.1'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [ ]:
for i in df.index:
    internet = 0.93
    pop = df['TotalPopulation'].iloc[i]
    a = internet * pop
    df['17.8.1'].iloc[i] = a

In [ ]:
col = '17.8.1'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [ ]:
#df.columns[70]

In [ ]:
'''for i in range(33, 70):
    col = df.columns[i]
    mx = (df[col]).max()
    mn = (df[col]).min()
    for j in df.index:
        try:
            data = df[col].iloc[j]
            scaled = (data - mn)/(mx-mn)
            df[col].iloc[j] = scaled*10
        except:
            pass'''

In [ ]:
df['SDG1'] = None
df['SDG2'] = None
df['SDG3'] = None
df['SDG4'] = None
df['SDG5'] = None
df['SDG6'] = None
df['SDG7'] = None
df['SDG8'] = None
df['SDG9'] = None
df['SDG10'] = None
df['SDG11'] = None
df['SDG12'] = None
df['SDG13'] = None
df['SDG14'] = None
df['SDG15'] = None
df['SDG16'] = None
df['SDG17'] = None

In [ ]:
'''df['SDG1'] = (df['1.1.1'] + df['1.2.1'] + df['1.4.1'] + df['1.a.2'])/4
df['SDG2'] = df['2.3.2']
df['SDG3'] = (df['3.b.3'] + df['3.c.1'])/2
df['SDG4'] = (df['4.1.1'] + df['4.a.1'] + df['4.c.1'])/3
df['SDG5'] = (df['5.2.1'] + df['5.2.2'] + df['5.4.1'] + df['5.5.1'] + df['5.5.2'])/5
df['SDG6'] = (df['6.1.1'] + df['6.3.1'])/2
df['SDG7'] = df['7.1.1']
df['SDG8'] = (df['8.3.1'] + df['8.5.1'] + df['8.5.2'] + df['8.6.1'])/4
df['SDG9'] = df['9.2.2']
df['SDG10'] = (df['10.2.1'] + df['10.7.4'])/2
df['SDG11'] = (df['11.2.1'] + df['11.6.1'] + df['11.7.1'])/3
df['SDG12'] = df['12.5.1']
df['SDG13'] = df['13.1.1']
df['SDG14'] = df['14.7.1']
df['SDG15'] = (df['15.1.1'] + df['15.1.2'] + df['15.4.2'])/3
df['SDG16'] = (df['16.1.1'] + df['16.1.2'] + df['16.2.3'])/3
df['SDG17'] = (df['17.6.1'] + df['17.8.1'])/2'''

In [ ]:
%%time
for i in df.index:
    df['SDG1'].iloc[i] = df['1.1.1'].iloc[i] + df['1.2.1'].iloc[i] + df['1.4.1'].iloc[i] + df['1.a.2'].iloc[i]
    df['SDG2'].iloc[i] = df['2.3.2'].iloc[i]
    df['SDG3'].iloc[i] = df['3.b.3'].iloc[i] + df['3.c.1'].iloc[i]
    df['SDG4'].iloc[i] = df['4.1.1'].iloc[i] + df['4.a.1'].iloc[i] + df['4.c.1'].iloc[i]
    df['SDG5'].iloc[i] = df['5.2.1'].iloc[i] + df['5.2.2'].iloc[i] + df['5.4.1'].iloc[i] + df['5.5.1'].iloc[i] + df['5.5.2'].iloc[i]
    df['SDG6'].iloc[i] = df['6.1.1'].iloc[i] + df['6.3.1'].iloc[i]
    df['SDG7'].iloc[i] = df['7.1.1'].iloc[i]
    df['SDG8'].iloc[i] = df['8.3.1'].iloc[i] + df['8.5.1'].iloc[i] + df['8.5.2'].iloc[i] + df['8.6.1'].iloc[i]
    df['SDG9'].iloc[i] = df['9.2.2'].iloc[i]
    df['SDG10'].iloc[i] = df['10.2.1'].iloc[i] + df['10.7.4'].iloc[i]
    df['SDG11'].iloc[i] = df['11.2.1'].iloc[i] + df['11.6.1'].iloc[i] + df['11.7.1'].iloc[i]
    df['SDG12'].iloc[i] = df['12.5.1'].iloc[i]
    df['SDG13'].iloc[i] = df['13.1.1'].iloc[i]
    df['SDG14'].iloc[i] = df['14.7.1'].iloc[i]
    df['SDG15'].iloc[i] = df['15.1.1'].iloc[i] + df['15.1.2'].iloc[i] + df['15.4.2'].iloc[i]
    df['SDG16'].iloc[i] = df['16.1.1'].iloc[i] + df['16.1.2'].iloc[i] + df['16.2.3'].iloc[i]
    df['SDG17'].iloc[i] = df['17.6.1'].iloc[i] + df['17.8.1'].iloc[i]

In [ ]:
'''df['SDG1'] = df['1.1.1'] + df['1.2.1'] + df['1.4.1'] + df['1.a.2']
df['SDG2'] = df['2.3.2']
df['SDG3'] = df['3.b.3'] + df['3.c.1']
df['SDG4'] = df['4.1.1'] + df['4.a.1'] + df['4.c.1']
df['SDG5'] = df['5.2.1'] + df['5.2.2'] + df['5.4.1'] + df['5.5.1'] + df['5.5.2']
df['SDG6'] = df['6.1.1'] + df['6.3.1']
df['SDG7'] = df['7.1.1']
df['SDG8'] = df['8.3.1'] + df['8.5.1'] + df['8.5.2'] + df['8.6.1']
df['SDG9'] = df['9.2.2']
df['SDG10'] = df['10.2.1'] + df['10.7.4']
df['SDG11'] = df['11.2.1'] + df['11.6.1'] + df['11.7.1']
df['SDG12'] = df['12.5.1']
df['SDG13'] = df['13.1.1']
df['SDG14'] = df['14.7.1']
df['SDG15'] = df['15.1.1'] + df['15.1.2'] + df['15.4.2']
df['SDG16'] = df['16.1.1'] + df['16.1.2'] + df['16.2.3']
df['SDG17'] = df['17.6.1'] + df['17.8.1']'''

In [ ]:
df.columns

In [ ]:
df_final = df[['District/Area/Building Group', 'Building', 'lat', 'lon', 'Region',
       'District', 'TotalPopulation', 'Working population', 'Male', 'Female', 'Income', 'WasteManagementScore', 'HospitalScore',
        'SchoolScore', 'PoliceScore', 'ElderlyCareScore', 'ChildCareScore', 'SDG1', 'SDG2', 'SDG3',
       'SDG4', 'SDG5', 'SDG6', 'SDG7', 'SDG8', 'SDG9', 'SDG10', 'SDG11',
       'SDG12', 'SDG13', 'SDG14', 'SDG15', 'SDG16', 'SDG17', '< 15', '15 - 39', '40 - 64', '65+']]

In [ ]:
df_final.info()

In [ ]:
df_final['Overall SDG Score'] = None

In [ ]:
df_final.columns[33]

In [ ]:
df_final.shape

In [ ]:
scale = [17,19,20,21,22,24,26,27,31,32,33]

In [ ]:
for i in scale:
    col = df_final.columns[i]
    mx = (df_final[col]).max()
    mn = (df_final[col]).min()
    for j in df_final.index:
        try:
            data = df_final[col].iloc[j]
            scaled = (data - mn)/(mx-mn)
            df_final[col].iloc[j] = scaled*10
        except:
            pass

In [ ]:
df_final.columns[17]

In [ ]:
%%time
for i in df_final.index:
    a = 0
    for j in range(17,34):
        col = df_final.columns[j]
        val = df_final[col].iloc[i]
        df_final['Overall SDG Score'].iloc[i] = a + val
        a = a + val

In [ ]:
'''for i in range(6, 23):
    col = df_final.columns[i]
    for j in df_final.index:
        val = df_final[col].iloc[j]
        df_final['Overall SDG Score'].iloc[j] = a + val'''

In [ ]:
df_final.head(5)

In [ ]:
col = 'Overall SDG Score'
mx = (df_final[col]).max()
mn = (df_final[col]).min()
for j in df_final.index:
    try:
        data = df_final[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df_final[col].iloc[j] = scaled*10
    except:
        pass

In [ ]:
#df_final.to_csv('QGIS_OverallSDG.csv', index = False)

# District Grouping

In [126]:
df_dis = df_final.copy()

In [127]:
for i in df_dis.columns:
    try:
        df_dis[i] = df_dis[i].astype(float)
    except:
        print('Error')

Error
Error
Error
Error

In [128]:
df_dis = df_dis.groupby(by = 'District').mean()

In [129]:
for i in df_dis.columns:
    try:
        df_dis[i] = df_dis[i].round(2)
    except:
        print('Error')

In [130]:
df_dis = df_dis[['SDG1', 'SDG2',
       'SDG3', 'SDG4', 'SDG5', 'SDG6', 'SDG7', 'SDG8', 'SDG9', 'SDG10',
       'SDG11', 'SDG12', 'SDG13', 'SDG14', 'SDG15', 'SDG16', 'SDG17', 'Overall SDG Score']]

In [131]:
#df_dis

In [132]:
#df_dis.to_excel('DistrictAnalysis.xlsx')

In [133]:
df_final[df_final['Building'] == 'Sang On Building']

,District/Area/Building Group,Building,lat,lon,Region,District,TotalPopulation,Working population,Male,Female,...,SDG13,SDG14,SDG15,SDG16,SDG17,< 15,15 - 39,40 - 64,65+,Overall SDG Score
1217,(Hung Hom) Berkeley Build...(Hung Hom) Berkele...,Sang On Building,22.30779,114.183948,Kowloon,KowloonCity,173.8,97.8,87.12,86.68,...,0.032901,0.0,0.0,9.967099,0.032901,5.9,43.1,35.5,15.5,3.971942

# Analysis

In [134]:
df_final['Overall SDG Score'].mean()

1.5112552730664794

In [135]:
dfa = df_final[df_final['Region'] == 'Kowloon']

In [136]:
dfa.mean()

lat                        23.130152
lon                       104.514820
TotalPopulation           890.543464
Working population        451.296407
Male                      415.887797
Female                    474.655667
Income                  25287.275886
WasteManagementScore        0.261616
HospitalScore               1.991953
SchoolScore                 1.092877
PoliceScore                 0.610042
ElderlyCareScore            0.747731
ChildCareScore              0.326869
SDG1                        4.737392
SDG2                        0.550492
SDG3                        2.257695
SDG4                        0.934410
SDG5                        0.294930
SDG6                        0.359519
SDG7                       10.000000
SDG8                        2.402033
SDG9                        2.264138
SDG10                       4.169507
SDG11                       2.160448
SDG12                       0.261616
SDG13                       0.359519
SDG14                       0.031887
SDG15                       0.031887
SDG16                       9.640481
SDG17                       0.359519
< 15                       10.922863
15 - 39                    34.220848
40 - 64                    38.700313
65+                        16.162960
Overall SDG Score           1.624620
dtype: float64

In [137]:
df_final.describe()

,lat,lon,TotalPopulation,Working population,Male,Female,Income,WasteManagementScore,HospitalScore,SchoolScore,PoliceScore,ElderlyCareScore,ChildCareScore,< 15,15 - 39,40 - 64,65+
count,6983.000000,6983.000000,6983.000000,6983.000000,6983.000000,6983.000000,6983.000000,6983.000000,6983.000000,6983.000000,6983.000000,6983.000000,6983.000000,6983.000000,6983.000000,6983.000000,6983.000000
mean,23.108559,104.313810,978.146834,501.197014,451.984431,526.162403,31111.406272,0.175002,1.387567,0.857129,0.470263,0.399434,0.197819,10.963067,33.727023,39.132994,16.179894
std,4.788444,42.277065,1052.152266,530.719107,489.401482,566.958966,21416.137693,0.545667,1.524652,1.031329,0.857196,1.201945,0.595644,4.145914,5.743388,4.987472,7.216447
min,1.281106,-157.859310,101.600000,52.800000,53.610000,47.990000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.400000,6.300000,11.800000,0.700000
25%,22.290595,114.129248,342.170000,179.250000,154.870000,185.300000,17945.000000,0.000000,0.250000,0.150000,0.000000,0.000000,0.000000,7.900000,30.200000,36.000000,11.400000
50%,22.324116,114.167065,611.330000,314.330000,280.120000,331.140000,24000.000000,0.000000,0.840000,0.530000,0.000000,0.000000,0.000000,10.400000,33.700000,39.400000,15.500000
75%,22.371297,114.190961,1300.750000,654.250000,605.260000,692.110000,35340.000000,0.000000,2.010000,1.200000,0.600000,0.000000,0.000000,13.800000,37.500000,42.400000,19.500000
max,57.204154,131.562731,22046.000000,10112.000000,10206.040000,11839.960000,187500.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,30.000000,62.000000,57.100000,77.300000

# Gender Gini based on Regions

In [138]:
df_female = df_final.copy()
df_male = df_final.copy()
df_15 = df_final.copy()
df_15_39 = df_final.copy()
df_40_64 = df_final.copy()
df_65 = df_final.copy()

In [139]:
for j in scale:
    try:
        i = df_female.columns[j]
        df_female[i] = df_female[i].astype(float)
        df_female[i] = round(df_female[i],2)
    except:
        print('Error')

In [140]:
for j in scale:
    try:
        i = df_male.columns[j]
        df_male[i] = df_male[i].astype(float)
        df_male[i] = round(df_male[i],2)
    except:
        print('Error')

In [141]:
for j in scale:
    try:
        i = df_15.columns[j]
        df_15[i] = df_15[i].astype(float)
        df_15[i] = round(df_15[i],2)
    except:
        print('Error')

In [142]:
for j in scale:
    try:
        i = df_15_39.columns[j]
        df_15_39[i] = df_15_39[i].astype(float)
        df_15_39[i] = round(df_15_39[i],2)
    except:
        print('Error')

In [143]:
for j in scale:
    try:
        i = df_40_64.columns[j]
        df_40_64[i] = df_40_64[i].astype(float)
        df_40_64[i] = round(df_40_64[i],2)
    except:
        print('Error')

In [144]:
for j in scale:
    try:
        i = df_65.columns[j]
        df_65[i] = df_65[i].astype(float)
        df_65[i] = round(df_65[i],2)
    except:
        print('Error')

In [145]:
for i in df_female.index:
    df_female['Female'].iloc[i] = df_female['Female'].iloc[i]/df_female['TotalPopulation'].iloc[i]

In [146]:
#df_female.head(5)

In [147]:
for i in df_male.index:
    df_male['Male'].iloc[i] = df_male['Male'].iloc[i]/df_male['TotalPopulation'].iloc[i]

In [148]:
for i in range(17, 35):
    col = df_female.columns[i]
    #print(col)
    for j in df_female.index:
        df_female[col].iloc[j] = df_female[col].iloc[j] * df_female['Female'].iloc[j]

In [149]:
#df_female.head(5)

In [150]:
#df_male.head(3)

In [151]:
for i in range(17,35):
    col = df_male.columns[i]
    for j in df_male.index:
        df_male[col].iloc[j] = df_male[col].iloc[j] * df_male['Male'].iloc[j]

In [152]:
df_15.columns

Index(['District/Area/Building Group', 'Building', 'lat', 'lon', 'Region',
       'District', 'TotalPopulation', 'Working population', 'Male', 'Female',
       'Income', 'WasteManagementScore', 'HospitalScore', 'SchoolScore',
       'PoliceScore', 'ElderlyCareScore', 'ChildCareScore', 'SDG1', 'SDG2',
       'SDG3', 'SDG4', 'SDG5', 'SDG6', 'SDG7', 'SDG8', 'SDG9', 'SDG10',
       'SDG11', 'SDG12', 'SDG13', 'SDG14', 'SDG15', 'SDG16', 'SDG17', '< 15',
       '15 - 39', '40 - 64', '65+', 'Overall SDG Score'],
      dtype='object')

In [153]:
for i in range(17,35):
    col = df_15.columns[i]
    for j in df_15.index:
        df_15[col].iloc[j] = df_15[col].iloc[j] * df_15['< 15'].iloc[j]

In [154]:
for i in range(17,35):
    col = df_15_39.columns[i]
    for j in df_15_39.index:
        df_15_39[col].iloc[j] = df_15_39[col].iloc[j] * df_15_39['15 - 39'].iloc[j]

In [155]:
for i in range(17,35):
    col = df_40_64.columns[i]
    for j in df_40_64.index:
        df_40_64[col].iloc[j] = df_40_64[col].iloc[j] * df_40_64['40 - 64'].iloc[j]

In [156]:
for i in range(17,35):
    col = df_65.columns[i]
    for j in df_65.index:
        df_65[col].iloc[j] = df_65[col].iloc[j] * df_65['65+'].iloc[j]

In [157]:
for i in scale:
    col = df_female.columns[i]
    mx = (df_female[col]).max()
    mn = (df_female[col]).min()
    for j in df_female.index:
        try:
            data = df_female[col].iloc[j]
            scaled = (data - mn)/(mx-mn)
            df_female[col].iloc[j] = scaled*10
        except:
            pass

In [158]:
for i in scale:
    col = df_male.columns[i]
    mx = (df_male[col]).max()
    mn = (df_male[col]).min()
    for j in df_male.index:
        try:
            data = df_male[col].iloc[j]
            scaled = (data - mn)/(mx-mn)
            df_male[col].iloc[j] = scaled*10
        except:
            pass

In [159]:
for i in scale:
    col = df_15.columns[i]
    mx = (df_15[col]).max()
    mn = (df_15[col]).min()
    for j in df_15.index:
        try:
            data = df_15[col].iloc[j]
            scaled = (data - mn)/(mx-mn)
            df_15[col].iloc[j] = scaled*10
        except:
            pass

In [160]:
for i in scale:
    col = df_15_39.columns[i]
    mx = (df_15_39[col]).max()
    mn = (df_15_39[col]).min()
    for j in df_15_39.index:
        try:
            data = df_15_39[col].iloc[j]
            scaled = (data - mn)/(mx-mn)
            df_15_39[col].iloc[j] = scaled*10
        except:
            pass

In [161]:
for i in scale:
    col = df_40_64.columns[i]
    mx = (df_40_64[col]).max()
    mn = (df_40_64[col]).min()
    for j in df_40_64.index:
        try:
            data = df_40_64[col].iloc[j]
            scaled = (data - mn)/(mx-mn)
            df_40_64[col].iloc[j] = scaled*10
        except:
            pass

In [162]:
for i in scale:
    col = df_65.columns[i]
    mx = (df_65[col]).max()
    mn = (df_65[col]).min()
    for j in df_65.index:
        try:
            data = df_65[col].iloc[j]
            scaled = (data - mn)/(mx-mn)
            df_65[col].iloc[j] = scaled*10
        except:
            pass

In [163]:
df_15.to_csv('df15.csv', index = False)

In [164]:
df_15_39.to_csv('df15_39.csv', index = False)

In [165]:
df_40_64.to_csv('df40_64.csv', index = False)

In [166]:
df_65.to_csv('df65.csv', index = False)

In [167]:
scale

[17, 19, 20, 21, 22, 24, 26, 27, 31, 32, 33]

In [168]:
def gini_coefficient(x):
    """Compute Gini coefficient of array of values"""
    diffsum = 0
    for i, xi in enumerate(x[:-1], 1):
        diffsum += np.sum(np.abs(xi - x[i:]))
    return diffsum / (len(x)**2 * np.mean(x))

In [169]:
df_regiongini = pd.DataFrame(index = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20])

In [170]:
df_final['Region'].value_counts()

Kowloon           2878
NewTerritories    2327
HongKong          1778
Name: Region, dtype: int64

In [171]:
kowloon = df_final[df_final['Region'] == 'Kowloon']
nt = df_final[df_final['Region'] == 'NewTerritories']
hk = df_final[df_final['Region'] == 'HongKong']

In [172]:
femkowloon = df_female[df_female['Region'] == 'Kowloon']
femnt = df_female[df_female['Region'] == 'NewTerritories']
femhk = df_female[df_female['Region'] == 'HongKong']

In [173]:
malekowloon = df_male[df_male['Region'] == 'Kowloon']
malent = df_male[df_male['Region'] == 'NewTerritories']
malehk = df_male[df_male['Region'] == 'HongKong']

In [174]:
kowloon15 = df_15[df_15['Region'] == 'Kowloon']
nt15 = df_15[df_15['Region'] == 'NewTerritories']
hk15 = df_15[df_15['Region'] == 'HongKong']

In [175]:
kowloon15_39 = df_15_39[df_15_39['Region'] == 'Kowloon']
nt15_39 = df_15_39[df_15_39['Region'] == 'NewTerritories']
hk15_39 = df_15_39[df_15_39['Region'] == 'HongKong']

In [176]:
kowloon40_64 = df_40_64[df_40_64['Region'] == 'Kowloon']
nt40_64 = df_40_64[df_40_64['Region'] == 'NewTerritories']
hk40_64 = df_40_64[df_40_64['Region'] == 'HongKong']

In [177]:
kowloon65 = df_65[df_65['Region'] == 'Kowloon']
nt65 = df_65[df_65['Region'] == 'NewTerritories']
hk65 = df_65[df_65['Region'] == 'HongKong']

In [178]:
kowloon15.to_csv('K15.csv', index = False)
nt15.to_csv('NT15.csv', index = False)
hk15.to_csv('HK15.csv', index = False)

In [179]:
kowloon15_39.to_csv('K15_39.csv', index = False)
nt15_39.to_csv('NT15_39.csv', index = False)
hk15_39.to_csv('HK15_39.csv', index = False)

In [180]:
kowloon40_64.to_csv('K40_64.csv', index = False)
nt40_64.to_csv('NT40_64.csv', index = False)
hk40_64.to_csv('HK40_64.csv', index = False)

In [181]:
kowloon65.to_csv('K65.csv', index = False)
nt65.to_csv('NT65.csv', index = False)
hk65.to_csv('HK65.csv', index = False)

In [182]:
df_regiongini['Region'] = None
df_regiongini['SDG1'] = None
df_regiongini['SDG2'] = None
df_regiongini['SDG3'] = None
df_regiongini['SDG4'] = None
df_regiongini['SDG5'] = None
df_regiongini['SDG6'] = None
df_regiongini['SDG7'] = None
df_regiongini['SDG8'] = None
df_regiongini['SDG9'] = None
df_regiongini['SDG10'] = None
df_regiongini['SDG11'] = None
df_regiongini['SDG12'] = None
df_regiongini['SDG13'] = None
df_regiongini['SDG14'] = None
df_regiongini['SDG15'] = None
df_regiongini['SDG16'] = None
df_regiongini['SDG17'] = None

In [183]:
df_regiongini['Region'].iloc[0] = 'Kowloon'
df_regiongini['SDG1'].iloc[0] = gini_coefficient(np.array(list(kowloon['SDG1'])))
df_regiongini['SDG2'].iloc[0] = gini_coefficient(np.array(list(kowloon['SDG2'])))
df_regiongini['SDG3'].iloc[0] = gini_coefficient(np.array(list(kowloon['SDG3'])))
df_regiongini['SDG4'].iloc[0] = gini_coefficient(np.array(list(kowloon['SDG4'])))
df_regiongini['SDG5'].iloc[0] = gini_coefficient(np.array(list(kowloon['SDG5'])))
df_regiongini['SDG6'].iloc[0] = gini_coefficient(np.array(list(kowloon['SDG6'])))
df_regiongini['SDG7'].iloc[0] = gini_coefficient(np.array(list(kowloon['SDG7'])))
df_regiongini['SDG8'].iloc[0] = gini_coefficient(np.array(list(kowloon['SDG8'])))
df_regiongini['SDG9'].iloc[0] = gini_coefficient(np.array(list(kowloon['SDG9'])))
df_regiongini['SDG10'].iloc[0] = gini_coefficient(np.array(list(kowloon['SDG10'])))
df_regiongini['SDG11'].iloc[0] = gini_coefficient(np.array(list(kowloon['SDG11'])))
df_regiongini['SDG12'].iloc[0] = gini_coefficient(np.array(list(kowloon['SDG12'])))
df_regiongini['SDG13'].iloc[0] = gini_coefficient(np.array(list(kowloon['SDG13'])))
df_regiongini['SDG14'].iloc[0] = gini_coefficient(np.array(list(kowloon['SDG14'])))
df_regiongini['SDG15'].iloc[0] = gini_coefficient(np.array(list(kowloon['SDG15'])))
df_regiongini['SDG16'].iloc[0] = gini_coefficient(np.array(list(kowloon['SDG16'])))
df_regiongini['SDG17'].iloc[0] = gini_coefficient(np.array(list(kowloon['SDG17'])))

In [184]:
df_regiongini['Region'].iloc[1] = 'New Territories'
df_regiongini['SDG1'].iloc[1] = gini_coefficient(np.array(list(nt['SDG1'])))
df_regiongini['SDG2'].iloc[1] = gini_coefficient(np.array(list(nt['SDG2'])))
df_regiongini['SDG3'].iloc[1] = gini_coefficient(np.array(list(nt['SDG3'])))
df_regiongini['SDG4'].iloc[1] = gini_coefficient(np.array(list(nt['SDG4'])))
df_regiongini['SDG5'].iloc[1] = gini_coefficient(np.array(list(nt['SDG5'])))
df_regiongini['SDG6'].iloc[1] = gini_coefficient(np.array(list(nt['SDG6'])))
df_regiongini['SDG7'].iloc[1] = gini_coefficient(np.array(list(nt['SDG7'])))
df_regiongini['SDG8'].iloc[1] = gini_coefficient(np.array(list(nt['SDG8'])))
df_regiongini['SDG9'].iloc[1] = gini_coefficient(np.array(list(nt['SDG9'])))
df_regiongini['SDG10'].iloc[1] = gini_coefficient(np.array(list(nt['SDG10'])))
df_regiongini['SDG11'].iloc[1] = gini_coefficient(np.array(list(nt['SDG11'])))
df_regiongini['SDG12'].iloc[1] = gini_coefficient(np.array(list(nt['SDG12'])))
df_regiongini['SDG13'].iloc[1] = gini_coefficient(np.array(list(nt['SDG13'])))
df_regiongini['SDG14'].iloc[1] = gini_coefficient(np.array(list(nt['SDG14'])))
df_regiongini['SDG15'].iloc[1] = gini_coefficient(np.array(list(nt['SDG15'])))
df_regiongini['SDG16'].iloc[1] = gini_coefficient(np.array(list(nt['SDG16'])))
df_regiongini['SDG17'].iloc[1] = gini_coefficient(np.array(list(nt['SDG17'])))

In [185]:
df_regiongini['Region'].iloc[2] = 'Hong Kong Island'
df_regiongini['SDG1'].iloc[2] = gini_coefficient(np.array(list(hk['SDG1'])))
df_regiongini['SDG2'].iloc[2] = gini_coefficient(np.array(list(hk['SDG2'])))
df_regiongini['SDG3'].iloc[2] = gini_coefficient(np.array(list(hk['SDG3'])))
df_regiongini['SDG4'].iloc[2] = gini_coefficient(np.array(list(hk['SDG4'])))
df_regiongini['SDG5'].iloc[2] = gini_coefficient(np.array(list(hk['SDG5'])))
df_regiongini['SDG6'].iloc[2] = gini_coefficient(np.array(list(hk['SDG6'])))
df_regiongini['SDG7'].iloc[2] = gini_coefficient(np.array(list(hk['SDG7'])))
df_regiongini['SDG8'].iloc[2] = gini_coefficient(np.array(list(hk['SDG8'])))
df_regiongini['SDG9'].iloc[2] = gini_coefficient(np.array(list(hk['SDG9'])))
df_regiongini['SDG10'].iloc[2] = gini_coefficient(np.array(list(hk['SDG10'])))
df_regiongini['SDG11'].iloc[2] = gini_coefficient(np.array(list(hk['SDG11'])))
df_regiongini['SDG12'].iloc[2] = gini_coefficient(np.array(list(hk['SDG12'])))
df_regiongini['SDG13'].iloc[2] = gini_coefficient(np.array(list(hk['SDG13'])))
df_regiongini['SDG14'].iloc[2] = gini_coefficient(np.array(list(hk['SDG14'])))
df_regiongini['SDG15'].iloc[2] = gini_coefficient(np.array(list(hk['SDG15'])))
df_regiongini['SDG16'].iloc[2] = gini_coefficient(np.array(list(hk['SDG16'])))
df_regiongini['SDG17'].iloc[2] = gini_coefficient(np.array(list(hk['SDG17'])))

In [186]:
df_regiongini['Region'].iloc[3] = 'Female_Kowloon'
df_regiongini['SDG1'].iloc[3] = gini_coefficient(np.array(list(femkowloon['SDG1'])))
df_regiongini['SDG2'].iloc[3] = gini_coefficient(np.array(list(femkowloon['SDG2'])))
df_regiongini['SDG3'].iloc[3] = gini_coefficient(np.array(list(femkowloon['SDG3'])))
df_regiongini['SDG4'].iloc[3] = gini_coefficient(np.array(list(femkowloon['SDG4'])))
df_regiongini['SDG5'].iloc[3] = gini_coefficient(np.array(list(femkowloon['SDG5'])))
df_regiongini['SDG6'].iloc[3] = gini_coefficient(np.array(list(femkowloon['SDG6'])))
df_regiongini['SDG7'].iloc[3] = gini_coefficient(np.array(list(femkowloon['SDG7'])))
df_regiongini['SDG8'].iloc[3] = gini_coefficient(np.array(list(femkowloon['SDG8'])))
df_regiongini['SDG9'].iloc[3] = gini_coefficient(np.array(list(femkowloon['SDG9'])))
df_regiongini['SDG10'].iloc[3] = gini_coefficient(np.array(list(femkowloon['SDG10'])))
df_regiongini['SDG11'].iloc[3] = gini_coefficient(np.array(list(femkowloon['SDG11'])))
df_regiongini['SDG12'].iloc[3] = gini_coefficient(np.array(list(femkowloon['SDG12'])))
df_regiongini['SDG13'].iloc[3] = gini_coefficient(np.array(list(femkowloon['SDG13'])))
df_regiongini['SDG14'].iloc[3] = gini_coefficient(np.array(list(femkowloon['SDG14'])))
df_regiongini['SDG15'].iloc[3] = gini_coefficient(np.array(list(femkowloon['SDG15'])))
df_regiongini['SDG16'].iloc[3] = gini_coefficient(np.array(list(femkowloon['SDG16'])))
df_regiongini['SDG17'].iloc[3] = gini_coefficient(np.array(list(femkowloon['SDG17'])))

In [187]:
df_regiongini['Region'].iloc[4] = 'Male_Kowloon'
df_regiongini['SDG1'].iloc[4] = gini_coefficient(np.array(list(malekowloon['SDG1'])))
df_regiongini['SDG2'].iloc[4] = gini_coefficient(np.array(list(malekowloon['SDG2'])))
df_regiongini['SDG3'].iloc[4] = gini_coefficient(np.array(list(malekowloon['SDG3'])))
df_regiongini['SDG4'].iloc[4] = gini_coefficient(np.array(list(malekowloon['SDG4'])))
df_regiongini['SDG5'].iloc[4] = gini_coefficient(np.array(list(malekowloon['SDG5'])))
df_regiongini['SDG6'].iloc[4] = gini_coefficient(np.array(list(malekowloon['SDG6'])))
df_regiongini['SDG7'].iloc[4] = gini_coefficient(np.array(list(malekowloon['SDG7'])))
df_regiongini['SDG8'].iloc[4] = gini_coefficient(np.array(list(malekowloon['SDG8'])))
df_regiongini['SDG9'].iloc[4] = gini_coefficient(np.array(list(malekowloon['SDG9'])))
df_regiongini['SDG10'].iloc[4] = gini_coefficient(np.array(list(malekowloon['SDG10'])))
df_regiongini['SDG11'].iloc[4] = gini_coefficient(np.array(list(malekowloon['SDG11'])))
df_regiongini['SDG12'].iloc[4] = gini_coefficient(np.array(list(malekowloon['SDG12'])))
df_regiongini['SDG13'].iloc[4] = gini_coefficient(np.array(list(malekowloon['SDG13'])))
df_regiongini['SDG14'].iloc[4] = gini_coefficient(np.array(list(malekowloon['SDG14'])))
df_regiongini['SDG15'].iloc[4] = gini_coefficient(np.array(list(malekowloon['SDG15'])))
df_regiongini['SDG16'].iloc[4] = gini_coefficient(np.array(list(malekowloon['SDG16'])))
df_regiongini['SDG17'].iloc[4] = gini_coefficient(np.array(list(malekowloon['SDG17'])))

In [188]:
df_regiongini['Region'].iloc[5] = 'Female_New Territories'
df_regiongini['SDG1'].iloc[5] = gini_coefficient(np.array(list(femnt['SDG1'])))
df_regiongini['SDG2'].iloc[5] = gini_coefficient(np.array(list(femnt['SDG2'])))
df_regiongini['SDG3'].iloc[5] = gini_coefficient(np.array(list(femnt['SDG3'])))
df_regiongini['SDG4'].iloc[5] = gini_coefficient(np.array(list(femnt['SDG4'])))
df_regiongini['SDG5'].iloc[5] = gini_coefficient(np.array(list(femnt['SDG5'])))
df_regiongini['SDG6'].iloc[5] = gini_coefficient(np.array(list(femnt['SDG6'])))
df_regiongini['SDG7'].iloc[5] = gini_coefficient(np.array(list(femnt['SDG7'])))
df_regiongini['SDG8'].iloc[5] = gini_coefficient(np.array(list(femnt['SDG8'])))
df_regiongini['SDG9'].iloc[5] = gini_coefficient(np.array(list(femnt['SDG9'])))
df_regiongini['SDG10'].iloc[5] = gini_coefficient(np.array(list(femnt['SDG10'])))
df_regiongini['SDG11'].iloc[5] = gini_coefficient(np.array(list(femnt['SDG11'])))
df_regiongini['SDG12'].iloc[5] = gini_coefficient(np.array(list(femnt['SDG12'])))
df_regiongini['SDG13'].iloc[5] = gini_coefficient(np.array(list(femnt['SDG13'])))
df_regiongini['SDG14'].iloc[5] = gini_coefficient(np.array(list(femnt['SDG14'])))
df_regiongini['SDG15'].iloc[5] = gini_coefficient(np.array(list(femnt['SDG15'])))
df_regiongini['SDG16'].iloc[5] = gini_coefficient(np.array(list(femnt['SDG16'])))
df_regiongini['SDG17'].iloc[5] = gini_coefficient(np.array(list(femnt['SDG17'])))

In [189]:
df_regiongini['Region'].iloc[6] = 'Male_New Territories'
df_regiongini['SDG1'].iloc[6] = gini_coefficient(np.array(list(malent['SDG1'])))
df_regiongini['SDG2'].iloc[6] = gini_coefficient(np.array(list(malent['SDG2'])))
df_regiongini['SDG3'].iloc[6] = gini_coefficient(np.array(list(malent['SDG3'])))
df_regiongini['SDG4'].iloc[6] = gini_coefficient(np.array(list(malent['SDG4'])))
df_regiongini['SDG5'].iloc[6] = gini_coefficient(np.array(list(malent['SDG5'])))
df_regiongini['SDG6'].iloc[6] = gini_coefficient(np.array(list(malent['SDG6'])))
df_regiongini['SDG7'].iloc[6] = gini_coefficient(np.array(list(malent['SDG7'])))
df_regiongini['SDG8'].iloc[6] = gini_coefficient(np.array(list(malent['SDG8'])))
df_regiongini['SDG9'].iloc[6] = gini_coefficient(np.array(list(malent['SDG9'])))
df_regiongini['SDG10'].iloc[6] = gini_coefficient(np.array(list(malent['SDG10'])))
df_regiongini['SDG11'].iloc[6] = gini_coefficient(np.array(list(malent['SDG11'])))
df_regiongini['SDG12'].iloc[6] = gini_coefficient(np.array(list(malent['SDG12'])))
df_regiongini['SDG13'].iloc[6] = gini_coefficient(np.array(list(malent['SDG13'])))
df_regiongini['SDG14'].iloc[6] = gini_coefficient(np.array(list(malent['SDG14'])))
df_regiongini['SDG15'].iloc[6] = gini_coefficient(np.array(list(malent['SDG15'])))
df_regiongini['SDG16'].iloc[6] = gini_coefficient(np.array(list(malent['SDG16'])))
df_regiongini['SDG17'].iloc[6] = gini_coefficient(np.array(list(malent['SDG17'])))

In [190]:
df_regiongini['Region'].iloc[7] = 'Female_Hong Kong Island'
df_regiongini['SDG1'].iloc[7] = gini_coefficient(np.array(list(femhk['SDG1'])))
df_regiongini['SDG2'].iloc[7] = gini_coefficient(np.array(list(femhk['SDG2'])))
df_regiongini['SDG3'].iloc[7] = gini_coefficient(np.array(list(femhk['SDG3'])))
df_regiongini['SDG4'].iloc[7] = gini_coefficient(np.array(list(femhk['SDG4'])))
df_regiongini['SDG5'].iloc[7] = gini_coefficient(np.array(list(femhk['SDG5'])))
df_regiongini['SDG6'].iloc[7] = gini_coefficient(np.array(list(femhk['SDG6'])))
df_regiongini['SDG7'].iloc[7] = gini_coefficient(np.array(list(femhk['SDG7'])))
df_regiongini['SDG8'].iloc[7] = gini_coefficient(np.array(list(femhk['SDG8'])))
df_regiongini['SDG9'].iloc[7] = gini_coefficient(np.array(list(femhk['SDG9'])))
df_regiongini['SDG10'].iloc[7] = gini_coefficient(np.array(list(femhk['SDG10'])))
df_regiongini['SDG11'].iloc[7] = gini_coefficient(np.array(list(femhk['SDG11'])))
df_regiongini['SDG12'].iloc[7] = gini_coefficient(np.array(list(femhk['SDG12'])))
df_regiongini['SDG13'].iloc[7] = gini_coefficient(np.array(list(femhk['SDG13'])))
df_regiongini['SDG14'].iloc[7] = gini_coefficient(np.array(list(femhk['SDG14'])))
df_regiongini['SDG15'].iloc[7] = gini_coefficient(np.array(list(femhk['SDG15'])))
df_regiongini['SDG16'].iloc[7] = gini_coefficient(np.array(list(femhk['SDG16'])))
df_regiongini['SDG17'].iloc[7] = gini_coefficient(np.array(list(femhk['SDG17'])))

In [191]:
df_regiongini['Region'].iloc[8] = 'Male_Hong Kong Island'
df_regiongini['SDG1'].iloc[8] = gini_coefficient(np.array(list(malehk['SDG1'])))
df_regiongini['SDG2'].iloc[8] = gini_coefficient(np.array(list(malehk['SDG2'])))
df_regiongini['SDG3'].iloc[8] = gini_coefficient(np.array(list(malehk['SDG3'])))
df_regiongini['SDG4'].iloc[8] = gini_coefficient(np.array(list(malehk['SDG4'])))
df_regiongini['SDG5'].iloc[8] = gini_coefficient(np.array(list(malehk['SDG5'])))
df_regiongini['SDG6'].iloc[8] = gini_coefficient(np.array(list(malehk['SDG6'])))
df_regiongini['SDG7'].iloc[8] = gini_coefficient(np.array(list(malehk['SDG7'])))
df_regiongini['SDG8'].iloc[8] = gini_coefficient(np.array(list(malehk['SDG8'])))
df_regiongini['SDG9'].iloc[8] = gini_coefficient(np.array(list(malehk['SDG9'])))
df_regiongini['SDG10'].iloc[8] = gini_coefficient(np.array(list(malehk['SDG10'])))
df_regiongini['SDG11'].iloc[8] = gini_coefficient(np.array(list(malehk['SDG11'])))
df_regiongini['SDG12'].iloc[8] = gini_coefficient(np.array(list(malehk['SDG12'])))
df_regiongini['SDG13'].iloc[8] = gini_coefficient(np.array(list(malehk['SDG13'])))
df_regiongini['SDG14'].iloc[8] = gini_coefficient(np.array(list(malehk['SDG14'])))
df_regiongini['SDG15'].iloc[8] = gini_coefficient(np.array(list(malehk['SDG15'])))
df_regiongini['SDG16'].iloc[8] = gini_coefficient(np.array(list(malehk['SDG16'])))
df_regiongini['SDG17'].iloc[8] = gini_coefficient(np.array(list(malehk['SDG17'])))

In [192]:
df_regiongini['Region'].iloc[9] = 'Kowloon <15'
df_regiongini['SDG1'].iloc[9] = gini_coefficient(np.array(list(kowloon15['SDG1'])))
df_regiongini['SDG2'].iloc[9] = gini_coefficient(np.array(list(kowloon15['SDG2'])))
df_regiongini['SDG3'].iloc[9] = gini_coefficient(np.array(list(kowloon15['SDG3'])))
df_regiongini['SDG4'].iloc[9] = gini_coefficient(np.array(list(kowloon15['SDG4'])))
df_regiongini['SDG5'].iloc[9] = gini_coefficient(np.array(list(kowloon15['SDG5'])))
df_regiongini['SDG6'].iloc[9] = gini_coefficient(np.array(list(kowloon15['SDG6'])))
df_regiongini['SDG7'].iloc[9] = gini_coefficient(np.array(list(kowloon15['SDG7'])))
df_regiongini['SDG8'].iloc[9] = gini_coefficient(np.array(list(kowloon15['SDG8'])))
df_regiongini['SDG9'].iloc[9] = gini_coefficient(np.array(list(kowloon15['SDG9'])))
df_regiongini['SDG10'].iloc[9] = gini_coefficient(np.array(list(kowloon15['SDG10'])))
df_regiongini['SDG11'].iloc[9] = gini_coefficient(np.array(list(kowloon15['SDG11'])))
df_regiongini['SDG12'].iloc[9] = gini_coefficient(np.array(list(kowloon15['SDG12'])))
df_regiongini['SDG13'].iloc[9] = gini_coefficient(np.array(list(kowloon15['SDG13'])))
df_regiongini['SDG14'].iloc[9] = gini_coefficient(np.array(list(kowloon15['SDG14'])))
df_regiongini['SDG15'].iloc[9] = gini_coefficient(np.array(list(kowloon15['SDG15'])))
df_regiongini['SDG16'].iloc[9] = gini_coefficient(np.array(list(kowloon15['SDG16'])))
df_regiongini['SDG17'].iloc[9] = gini_coefficient(np.array(list(kowloon15['SDG17'])))

In [193]:
df_regiongini['Region'].iloc[10] = 'New Territories <15'
df_regiongini['SDG1'].iloc[10] = gini_coefficient(np.array(list(nt15['SDG1'])))
df_regiongini['SDG2'].iloc[10] = gini_coefficient(np.array(list(nt15['SDG2'])))
df_regiongini['SDG3'].iloc[10] = gini_coefficient(np.array(list(nt15['SDG3'])))
df_regiongini['SDG4'].iloc[10] = gini_coefficient(np.array(list(nt15['SDG4'])))
df_regiongini['SDG5'].iloc[10] = gini_coefficient(np.array(list(nt15['SDG5'])))
df_regiongini['SDG6'].iloc[10] = gini_coefficient(np.array(list(nt15['SDG6'])))
df_regiongini['SDG7'].iloc[10] = gini_coefficient(np.array(list(nt15['SDG7'])))
df_regiongini['SDG8'].iloc[10] = gini_coefficient(np.array(list(nt15['SDG8'])))
df_regiongini['SDG9'].iloc[10] = gini_coefficient(np.array(list(nt15['SDG9'])))
df_regiongini['SDG10'].iloc[10] = gini_coefficient(np.array(list(nt15['SDG10'])))
df_regiongini['SDG11'].iloc[10] = gini_coefficient(np.array(list(nt15['SDG11'])))
df_regiongini['SDG12'].iloc[10] = gini_coefficient(np.array(list(nt15['SDG12'])))
df_regiongini['SDG13'].iloc[10] = gini_coefficient(np.array(list(nt15['SDG13'])))
df_regiongini['SDG14'].iloc[10] = gini_coefficient(np.array(list(nt15['SDG14'])))
df_regiongini['SDG15'].iloc[10] = gini_coefficient(np.array(list(nt15['SDG15'])))
df_regiongini['SDG16'].iloc[10] = gini_coefficient(np.array(list(nt15['SDG16'])))
df_regiongini['SDG17'].iloc[10] = gini_coefficient(np.array(list(nt15['SDG17'])))

In [194]:
df_regiongini['Region'].iloc[11] = 'Hong Kong Island <15'
df_regiongini['SDG1'].iloc[11] = gini_coefficient(np.array(list(malehk['SDG1'])))
df_regiongini['SDG2'].iloc[11] = gini_coefficient(np.array(list(malehk['SDG2'])))
df_regiongini['SDG3'].iloc[11] = gini_coefficient(np.array(list(malehk['SDG3'])))
df_regiongini['SDG4'].iloc[11] = gini_coefficient(np.array(list(malehk['SDG4'])))
df_regiongini['SDG5'].iloc[11] = gini_coefficient(np.array(list(malehk['SDG5'])))
df_regiongini['SDG6'].iloc[11] = gini_coefficient(np.array(list(malehk['SDG6'])))
df_regiongini['SDG7'].iloc[11] = gini_coefficient(np.array(list(malehk['SDG7'])))
df_regiongini['SDG8'].iloc[11] = gini_coefficient(np.array(list(malehk['SDG8'])))
df_regiongini['SDG9'].iloc[11] = gini_coefficient(np.array(list(malehk['SDG9'])))
df_regiongini['SDG10'].iloc[11] = gini_coefficient(np.array(list(malehk['SDG10'])))
df_regiongini['SDG11'].iloc[11] = gini_coefficient(np.array(list(malehk['SDG11'])))
df_regiongini['SDG12'].iloc[11] = gini_coefficient(np.array(list(malehk['SDG12'])))
df_regiongini['SDG13'].iloc[11] = gini_coefficient(np.array(list(malehk['SDG13'])))
df_regiongini['SDG14'].iloc[11] = gini_coefficient(np.array(list(malehk['SDG14'])))
df_regiongini['SDG15'].iloc[11] = gini_coefficient(np.array(list(malehk['SDG15'])))
df_regiongini['SDG16'].iloc[11] = gini_coefficient(np.array(list(malehk['SDG16'])))
df_regiongini['SDG17'].iloc[11] = gini_coefficient(np.array(list(malehk['SDG17'])))

In [195]:
df_regiongini['Region'].iloc[12] = 'Kowloon 15_39'
df_regiongini['SDG1'].iloc[12] = gini_coefficient(np.array(list(kowloon15_39['SDG1'])))
df_regiongini['SDG2'].iloc[12] = gini_coefficient(np.array(list(kowloon15_39['SDG2'])))
df_regiongini['SDG3'].iloc[12] = gini_coefficient(np.array(list(kowloon15_39['SDG3'])))
df_regiongini['SDG4'].iloc[12] = gini_coefficient(np.array(list(kowloon15_39['SDG4'])))
df_regiongini['SDG5'].iloc[12] = gini_coefficient(np.array(list(kowloon15_39['SDG5'])))
df_regiongini['SDG6'].iloc[12] = gini_coefficient(np.array(list(kowloon15_39['SDG6'])))
df_regiongini['SDG7'].iloc[12] = gini_coefficient(np.array(list(kowloon15_39['SDG7'])))
df_regiongini['SDG8'].iloc[12] = gini_coefficient(np.array(list(kowloon15_39['SDG8'])))
df_regiongini['SDG9'].iloc[12] = gini_coefficient(np.array(list(kowloon15_39['SDG9'])))
df_regiongini['SDG10'].iloc[12] = gini_coefficient(np.array(list(kowloon15_39['SDG10'])))
df_regiongini['SDG11'].iloc[12] = gini_coefficient(np.array(list(kowloon15_39['SDG11'])))
df_regiongini['SDG12'].iloc[12] = gini_coefficient(np.array(list(kowloon15_39['SDG12'])))
df_regiongini['SDG13'].iloc[12] = gini_coefficient(np.array(list(kowloon15_39['SDG13'])))
df_regiongini['SDG14'].iloc[12] = gini_coefficient(np.array(list(kowloon15_39['SDG14'])))
df_regiongini['SDG15'].iloc[12] = gini_coefficient(np.array(list(kowloon15_39['SDG15'])))
df_regiongini['SDG16'].iloc[12] = gini_coefficient(np.array(list(kowloon15_39['SDG16'])))
df_regiongini['SDG17'].iloc[12] = gini_coefficient(np.array(list(kowloon15_39['SDG17'])))

In [196]:
df_regiongini['Region'].iloc[13] = 'New Territories 15_39'
df_regiongini['SDG1'].iloc[13] = gini_coefficient(np.array(list(nt15_39['SDG1'])))
df_regiongini['SDG2'].iloc[13] = gini_coefficient(np.array(list(nt15_39['SDG2'])))
df_regiongini['SDG3'].iloc[13] = gini_coefficient(np.array(list(nt15_39['SDG3'])))
df_regiongini['SDG4'].iloc[13] = gini_coefficient(np.array(list(nt15_39['SDG4'])))
df_regiongini['SDG5'].iloc[13] = gini_coefficient(np.array(list(nt15_39['SDG5'])))
df_regiongini['SDG6'].iloc[13] = gini_coefficient(np.array(list(nt15_39['SDG6'])))
df_regiongini['SDG7'].iloc[13] = gini_coefficient(np.array(list(nt15_39['SDG7'])))
df_regiongini['SDG8'].iloc[13] = gini_coefficient(np.array(list(nt15_39['SDG8'])))
df_regiongini['SDG9'].iloc[13] = gini_coefficient(np.array(list(nt15_39['SDG9'])))
df_regiongini['SDG10'].iloc[13] = gini_coefficient(np.array(list(nt15_39['SDG10'])))
df_regiongini['SDG11'].iloc[13] = gini_coefficient(np.array(list(nt15_39['SDG11'])))
df_regiongini['SDG12'].iloc[13] = gini_coefficient(np.array(list(nt15_39['SDG12'])))
df_regiongini['SDG13'].iloc[13] = gini_coefficient(np.array(list(nt15_39['SDG13'])))
df_regiongini['SDG14'].iloc[13] = gini_coefficient(np.array(list(nt15_39['SDG14'])))
df_regiongini['SDG15'].iloc[13] = gini_coefficient(np.array(list(nt15_39['SDG15'])))
df_regiongini['SDG16'].iloc[13] = gini_coefficient(np.array(list(nt15_39['SDG16'])))
df_regiongini['SDG17'].iloc[13] = gini_coefficient(np.array(list(nt15_39['SDG17'])))

In [197]:
df_regiongini['Region'].iloc[14] = 'Hong Kong Island 15_39'
df_regiongini['SDG1'].iloc[14] = gini_coefficient(np.array(list(hk15_39['SDG1'])))
df_regiongini['SDG2'].iloc[14] = gini_coefficient(np.array(list(hk15_39['SDG2'])))
df_regiongini['SDG3'].iloc[14] = gini_coefficient(np.array(list(hk15_39['SDG3'])))
df_regiongini['SDG4'].iloc[14] = gini_coefficient(np.array(list(hk15_39['SDG4'])))
df_regiongini['SDG5'].iloc[14] = gini_coefficient(np.array(list(hk15_39['SDG5'])))
df_regiongini['SDG6'].iloc[14] = gini_coefficient(np.array(list(hk15_39['SDG6'])))
df_regiongini['SDG7'].iloc[14] = gini_coefficient(np.array(list(hk15_39['SDG7'])))
df_regiongini['SDG8'].iloc[14] = gini_coefficient(np.array(list(hk15_39['SDG8'])))
df_regiongini['SDG9'].iloc[14] = gini_coefficient(np.array(list(hk15_39['SDG9'])))
df_regiongini['SDG10'].iloc[14] = gini_coefficient(np.array(list(hk15_39['SDG10'])))
df_regiongini['SDG11'].iloc[14] = gini_coefficient(np.array(list(hk15_39['SDG11'])))
df_regiongini['SDG12'].iloc[14] = gini_coefficient(np.array(list(hk15_39['SDG12'])))
df_regiongini['SDG13'].iloc[14] = gini_coefficient(np.array(list(hk15_39['SDG13'])))
df_regiongini['SDG14'].iloc[14] = gini_coefficient(np.array(list(hk15_39['SDG14'])))
df_regiongini['SDG15'].iloc[14] = gini_coefficient(np.array(list(hk15_39['SDG15'])))
df_regiongini['SDG16'].iloc[14] = gini_coefficient(np.array(list(hk15_39['SDG16'])))
df_regiongini['SDG17'].iloc[14] = gini_coefficient(np.array(list(hk15_39['SDG17'])))

In [198]:
df_regiongini['Region'].iloc[15] = 'Kowloon 40_64'
df_regiongini['SDG1'].iloc[15] = gini_coefficient(np.array(list(kowloon40_64['SDG1'])))
df_regiongini['SDG2'].iloc[15] = gini_coefficient(np.array(list(kowloon40_64['SDG2'])))
df_regiongini['SDG3'].iloc[15] = gini_coefficient(np.array(list(kowloon40_64['SDG3'])))
df_regiongini['SDG4'].iloc[15] = gini_coefficient(np.array(list(kowloon40_64['SDG4'])))
df_regiongini['SDG5'].iloc[15] = gini_coefficient(np.array(list(kowloon40_64['SDG5'])))
df_regiongini['SDG6'].iloc[15] = gini_coefficient(np.array(list(kowloon40_64['SDG6'])))
df_regiongini['SDG7'].iloc[15] = gini_coefficient(np.array(list(kowloon40_64['SDG7'])))
df_regiongini['SDG8'].iloc[15] = gini_coefficient(np.array(list(kowloon40_64['SDG8'])))
df_regiongini['SDG9'].iloc[15] = gini_coefficient(np.array(list(kowloon40_64['SDG9'])))
df_regiongini['SDG10'].iloc[15] = gini_coefficient(np.array(list(kowloon40_64['SDG10'])))
df_regiongini['SDG11'].iloc[15] = gini_coefficient(np.array(list(kowloon40_64['SDG11'])))
df_regiongini['SDG12'].iloc[15] = gini_coefficient(np.array(list(kowloon40_64['SDG12'])))
df_regiongini['SDG13'].iloc[15] = gini_coefficient(np.array(list(kowloon40_64['SDG13'])))
df_regiongini['SDG14'].iloc[15] = gini_coefficient(np.array(list(kowloon40_64['SDG14'])))
df_regiongini['SDG15'].iloc[15] = gini_coefficient(np.array(list(kowloon40_64['SDG15'])))
df_regiongini['SDG16'].iloc[15] = gini_coefficient(np.array(list(kowloon40_64['SDG16'])))
df_regiongini['SDG17'].iloc[15] = gini_coefficient(np.array(list(kowloon40_64['SDG17'])))

In [199]:
df_regiongini['Region'].iloc[16] = 'New Territories 40_64'
df_regiongini['SDG1'].iloc[16] = gini_coefficient(np.array(list(nt40_64['SDG1'])))
df_regiongini['SDG2'].iloc[16] = gini_coefficient(np.array(list(nt40_64['SDG2'])))
df_regiongini['SDG3'].iloc[16] = gini_coefficient(np.array(list(nt40_64['SDG3'])))
df_regiongini['SDG4'].iloc[16] = gini_coefficient(np.array(list(nt40_64['SDG4'])))
df_regiongini['SDG5'].iloc[16] = gini_coefficient(np.array(list(nt40_64['SDG5'])))
df_regiongini['SDG6'].iloc[16] = gini_coefficient(np.array(list(nt40_64['SDG6'])))
df_regiongini['SDG7'].iloc[16] = gini_coefficient(np.array(list(nt40_64['SDG7'])))
df_regiongini['SDG8'].iloc[16] = gini_coefficient(np.array(list(nt40_64['SDG8'])))
df_regiongini['SDG9'].iloc[16] = gini_coefficient(np.array(list(nt40_64['SDG9'])))
df_regiongini['SDG10'].iloc[16] = gini_coefficient(np.array(list(nt40_64['SDG10'])))
df_regiongini['SDG11'].iloc[16] = gini_coefficient(np.array(list(nt40_64['SDG11'])))
df_regiongini['SDG12'].iloc[16] = gini_coefficient(np.array(list(nt40_64['SDG12'])))
df_regiongini['SDG13'].iloc[16] = gini_coefficient(np.array(list(nt40_64['SDG13'])))
df_regiongini['SDG14'].iloc[16] = gini_coefficient(np.array(list(nt40_64['SDG14'])))
df_regiongini['SDG15'].iloc[16] = gini_coefficient(np.array(list(nt40_64['SDG15'])))
df_regiongini['SDG16'].iloc[16] = gini_coefficient(np.array(list(nt40_64['SDG16'])))
df_regiongini['SDG17'].iloc[16] = gini_coefficient(np.array(list(nt40_64['SDG17'])))

In [200]:
df_regiongini['Region'].iloc[17] = 'Hong Kong Island 40_64'
df_regiongini['SDG1'].iloc[17] = gini_coefficient(np.array(list(hk40_64['SDG1'])))
df_regiongini['SDG2'].iloc[17] = gini_coefficient(np.array(list(hk40_64['SDG2'])))
df_regiongini['SDG3'].iloc[17] = gini_coefficient(np.array(list(hk40_64['SDG3'])))
df_regiongini['SDG4'].iloc[17] = gini_coefficient(np.array(list(hk40_64['SDG4'])))
df_regiongini['SDG5'].iloc[17] = gini_coefficient(np.array(list(hk40_64['SDG5'])))
df_regiongini['SDG6'].iloc[17] = gini_coefficient(np.array(list(hk40_64['SDG6'])))
df_regiongini['SDG7'].iloc[17] = gini_coefficient(np.array(list(hk40_64['SDG7'])))
df_regiongini['SDG8'].iloc[17] = gini_coefficient(np.array(list(hk40_64['SDG8'])))
df_regiongini['SDG9'].iloc[17] = gini_coefficient(np.array(list(hk40_64['SDG9'])))
df_regiongini['SDG10'].iloc[17] = gini_coefficient(np.array(list(hk40_64['SDG10'])))
df_regiongini['SDG11'].iloc[17] = gini_coefficient(np.array(list(hk40_64['SDG11'])))
df_regiongini['SDG12'].iloc[17] = gini_coefficient(np.array(list(hk40_64['SDG12'])))
df_regiongini['SDG13'].iloc[17] = gini_coefficient(np.array(list(hk40_64['SDG13'])))
df_regiongini['SDG14'].iloc[17] = gini_coefficient(np.array(list(hk40_64['SDG14'])))
df_regiongini['SDG15'].iloc[17] = gini_coefficient(np.array(list(hk40_64['SDG15'])))
df_regiongini['SDG16'].iloc[17] = gini_coefficient(np.array(list(hk40_64['SDG16'])))
df_regiongini['SDG17'].iloc[17] = gini_coefficient(np.array(list(hk40_64['SDG17'])))

In [201]:
df_regiongini['Region'].iloc[18] = 'Kowloon 65'
df_regiongini['SDG1'].iloc[18] = gini_coefficient(np.array(list(kowloon65['SDG1'])))
df_regiongini['SDG2'].iloc[18] = gini_coefficient(np.array(list(kowloon65['SDG2'])))
df_regiongini['SDG3'].iloc[18] = gini_coefficient(np.array(list(kowloon65['SDG3'])))
df_regiongini['SDG4'].iloc[18] = gini_coefficient(np.array(list(kowloon65['SDG4'])))
df_regiongini['SDG5'].iloc[18] = gini_coefficient(np.array(list(kowloon65['SDG5'])))
df_regiongini['SDG6'].iloc[18] = gini_coefficient(np.array(list(kowloon65['SDG6'])))
df_regiongini['SDG7'].iloc[18] = gini_coefficient(np.array(list(kowloon65['SDG7'])))
df_regiongini['SDG8'].iloc[18] = gini_coefficient(np.array(list(kowloon65['SDG8'])))
df_regiongini['SDG9'].iloc[18] = gini_coefficient(np.array(list(kowloon65['SDG9'])))
df_regiongini['SDG10'].iloc[18] = gini_coefficient(np.array(list(kowloon65['SDG10'])))
df_regiongini['SDG11'].iloc[18] = gini_coefficient(np.array(list(kowloon65['SDG11'])))
df_regiongini['SDG12'].iloc[18] = gini_coefficient(np.array(list(kowloon65['SDG12'])))
df_regiongini['SDG13'].iloc[18] = gini_coefficient(np.array(list(kowloon65['SDG13'])))
df_regiongini['SDG14'].iloc[18] = gini_coefficient(np.array(list(kowloon65['SDG14'])))
df_regiongini['SDG15'].iloc[18] = gini_coefficient(np.array(list(kowloon65['SDG15'])))
df_regiongini['SDG16'].iloc[18] = gini_coefficient(np.array(list(kowloon65['SDG16'])))
df_regiongini['SDG17'].iloc[18] = gini_coefficient(np.array(list(kowloon65['SDG17'])))

In [202]:
df_regiongini['Region'].iloc[19] = 'New Territories 65'
df_regiongini['SDG1'].iloc[19] = gini_coefficient(np.array(list(nt65['SDG1'])))
df_regiongini['SDG2'].iloc[19] = gini_coefficient(np.array(list(nt65['SDG2'])))
df_regiongini['SDG3'].iloc[19] = gini_coefficient(np.array(list(nt65['SDG3'])))
df_regiongini['SDG4'].iloc[19] = gini_coefficient(np.array(list(nt65['SDG4'])))
df_regiongini['SDG5'].iloc[19] = gini_coefficient(np.array(list(nt65['SDG5'])))
df_regiongini['SDG6'].iloc[19] = gini_coefficient(np.array(list(nt65['SDG6'])))
df_regiongini['SDG7'].iloc[19] = gini_coefficient(np.array(list(nt65['SDG7'])))
df_regiongini['SDG8'].iloc[19] = gini_coefficient(np.array(list(nt65['SDG8'])))
df_regiongini['SDG9'].iloc[19] = gini_coefficient(np.array(list(nt65['SDG9'])))
df_regiongini['SDG10'].iloc[19] = gini_coefficient(np.array(list(nt65['SDG10'])))
df_regiongini['SDG11'].iloc[19] = gini_coefficient(np.array(list(nt65['SDG11'])))
df_regiongini['SDG12'].iloc[19] = gini_coefficient(np.array(list(nt65['SDG12'])))
df_regiongini['SDG13'].iloc[19] = gini_coefficient(np.array(list(nt65['SDG13'])))
df_regiongini['SDG14'].iloc[19] = gini_coefficient(np.array(list(nt65['SDG14'])))
df_regiongini['SDG15'].iloc[19] = gini_coefficient(np.array(list(nt65['SDG15'])))
df_regiongini['SDG16'].iloc[19] = gini_coefficient(np.array(list(nt65['SDG16'])))
df_regiongini['SDG17'].iloc[19] = gini_coefficient(np.array(list(nt65['SDG17'])))

In [203]:
df_regiongini['Region'].iloc[20] = 'Hong Kong Island 65'
df_regiongini['SDG1'].iloc[20] = gini_coefficient(np.array(list(hk65['SDG1'])))
df_regiongini['SDG2'].iloc[20] = gini_coefficient(np.array(list(hk65['SDG2'])))
df_regiongini['SDG3'].iloc[20] = gini_coefficient(np.array(list(hk65['SDG3'])))
df_regiongini['SDG4'].iloc[20] = gini_coefficient(np.array(list(hk65['SDG4'])))
df_regiongini['SDG5'].iloc[20] = gini_coefficient(np.array(list(hk65['SDG5'])))
df_regiongini['SDG6'].iloc[20] = gini_coefficient(np.array(list(hk65['SDG6'])))
df_regiongini['SDG7'].iloc[20] = gini_coefficient(np.array(list(hk65['SDG7'])))
df_regiongini['SDG8'].iloc[20] = gini_coefficient(np.array(list(hk65['SDG8'])))
df_regiongini['SDG9'].iloc[20] = gini_coefficient(np.array(list(hk65['SDG9'])))
df_regiongini['SDG10'].iloc[20] = gini_coefficient(np.array(list(hk65['SDG10'])))
df_regiongini['SDG11'].iloc[20] = gini_coefficient(np.array(list(hk65['SDG11'])))
df_regiongini['SDG12'].iloc[20] = gini_coefficient(np.array(list(hk65['SDG12'])))
df_regiongini['SDG13'].iloc[20] = gini_coefficient(np.array(list(hk65['SDG13'])))
df_regiongini['SDG14'].iloc[20] = gini_coefficient(np.array(list(hk65['SDG14'])))
df_regiongini['SDG15'].iloc[20] = gini_coefficient(np.array(list(hk65['SDG15'])))
df_regiongini['SDG16'].iloc[20] = gini_coefficient(np.array(list(hk65['SDG16'])))
df_regiongini['SDG17'].iloc[20] = gini_coefficient(np.array(list(hk65['SDG17'])))

In [204]:
gini_coefficient(np.array(list(hk65['SDG1'])))

0.23412030721819158

In [205]:
df_regiongini

,Region,SDG1,SDG2,SDG3,SDG4,SDG5,SDG6,SDG7,SDG8,SDG9,SDG10,SDG11,SDG12,SDG13,SDG14,SDG15,SDG16,SDG17
0,Kowloon,0.100252,0.323069,0.371585,0.299055,0.506527,0.511879,0.0,0.141944,0.246217,0.061751,0.342792,0.854051,0.511879,0.993793,0.993793,0.019089,0.511879
1,New Territories,0.045911,0.292608,0.311317,0.307869,0.475405,0.463873,0.0,0.172299,0.23896,0.069682,0.25684,0.888722,0.463873,0.964023,0.964023,0.028029,0.463873
2,Hong Kong Island,0.085788,0.495917,0.380984,0.334497,0.548813,0.559546,0.0,0.152797,0.330003,0.027818,0.28574,0.97484,0.559546,0.994433,0.994433,0.013823,0.559546
3,Female_Kowloon,0.112588,0.345289,0.377267,0.304857,0.506071,0.50906,0.039786,0.148297,0.240525,0.078007,0.345209,0.853979,0.509159,0.99386,0.99386,0.047951,0.50906
4,Male_Kowloon,0.107414,0.302165,0.369734,0.299338,0.510533,0.517795,0.046102,0.148681,0.259382,0.083632,0.345032,0.855256,0.517845,0.993848,0.993848,0.049431,0.517795
5,Female_New Territories,0.06092,0.306388,0.317445,0.31418,0.479674,0.466564,0.036545,0.174896,0.226876,0.081424,0.259113,0.890088,0.466312,0.964479,0.964479,0.049092,0.466564
6,Male_New Territories,0.066597,0.282331,0.31027,0.305468,0.473095,0.464084,0.042149,0.179328,0.259089,0.086699,0.260749,0.887514,0.463825,0.963638,0.963638,0.053098,0.464084
7,Female_Hong Kong Island,0.092023,0.526314,0.372374,0.332486,0.547825,0.556227,0.050071,0.177267,0.325447,0.062972,0.284094,0.974802,0.555925,0.99429,0.99429,0.053522,0.556227
8,Male_Hong Kong Island,0.115767,0.456352,0.398919,0.346823,0.554283,0.567862,0.062437,0.143706,0.344221,0.07009,0.299659,0.97529,0.567727,0.994609,0.994609,0.064639,0.567862
9,Kowloon <15,0.215373,0.433296,0.385461,0.348523,0.558757,0.562946,0.212342,0.241471,0.34798,0.229942,0.368573,0.854642,0.563084,0.994237,0.994237,0.210222,0.562946
10,New Territories <15,0.229231,0.395868,0.400163,0.396454,0.523159,0.508023,0.215535,0.228148,0.320519,0.226136,0.32087,0.900885,0.507764,0.965065,0.965065,0.221233,0.508023
11,Hong Kong Island <15,0.115767,0.456352,0.398919,0.346823,0.554283,0.567862,0.062437,0.143706,0.344221,0.07009,0.299659,0.97529,0.567727,0.994609,0.994609,0.064639,0.567862
12,Kowloon 15_39,0.136982,0.329938,0.380579,0.311606,0.515318,0.521022,0.09112,0.202314,0.276111,0.122789,0.348153,0.856477,0.521096,0.994105,0.994105,0.093804,0.521022
13,New Territories 15_39,0.110845,0.314905,0.327361,0.322809,0.489174,0.479726,0.098578,0.236839,0.274548,0.138124,0.270896,0.890507,0.479497,0.964322,0.964322,0.103759,0.479726
14,Hong Kong Island 15_39,0.133313,0.497827,0.40278,0.354832,0.55208,0.563787,0.094002,0.204183,0.339012,0.102635,0.28543,0.975066,0.56361,0.994953,0.994953,0.096537,0.563787
15,Kowloon 40_64,0.130374,0.341358,0.387224,0.315501,0.506808,0.511107,0.068692,0.144063,0.242412,0.097816,0.351988,0.85641,0.511156,0.993958,0.993958,0.074166,0.511107
16,New Territories 40_64,0.082921,0.319071,0.322599,0.321938,0.482473,0.470923,0.072687,0.182476,0.234474,0.109458,0.272708,0.888814,0.470681,0.964391,0.964391,0.078112,0.470923
17,Hong Kong Island 40_64,0.111945,0.516544,0.386385,0.339228,0.550146,0.560339,0.068768,0.169975,0.332452,0.078549,0.295881,0.974717,0.559986,0.994309,0.994309,0.071345,0.560339
18,Kowloon 65,0.245196,0.347,0.430406,0.374486,0.535927,0.540332,0.224638,0.228716,0.315796,0.223034,0.427826,0.865075,0.540369,0.99487,0.99487,0.226401,0.540332
19,New Territories 65,0.24939,0.305246,0.370371,0.375463,0.510884,0.503668,0.24849,0.263291,0.345386,0.239626,0.374148,0.893582,0.503379,0.968367,0.968367,0.254089,0.503668
20,Hong Kong Island 65,0.23412,0.467319,0.422717,0.387559,0.590266,0.600971,0.222616,0.212112,0.426952,0.219485,0.389269,0.978649,0.601013,0.994589,0.994589,0.2222,0.600971

In [206]:
for i in df_regiongini.columns:
    try:
        df_regiongini[i] = df_regiongini[i].astype(float)
        df_regiongini[i] = round(df_regiongini[i],2)
    except:
        print('Error')

Error

In [207]:
df_regiongini

,Region,SDG1,SDG2,SDG3,SDG4,SDG5,SDG6,SDG7,SDG8,SDG9,SDG10,SDG11,SDG12,SDG13,SDG14,SDG15,SDG16,SDG17
0,Kowloon,0.10,0.32,0.37,0.30,0.51,0.51,0.00,0.14,0.25,0.06,0.34,0.85,0.51,0.99,0.99,0.02,0.51
1,New Territories,0.05,0.29,0.31,0.31,0.48,0.46,0.00,0.17,0.24,0.07,0.26,0.89,0.46,0.96,0.96,0.03,0.46
2,Hong Kong Island,0.09,0.50,0.38,0.33,0.55,0.56,0.00,0.15,0.33,0.03,0.29,0.97,0.56,0.99,0.99,0.01,0.56
3,Female_Kowloon,0.11,0.35,0.38,0.30,0.51,0.51,0.04,0.15,0.24,0.08,0.35,0.85,0.51,0.99,0.99,0.05,0.51
4,Male_Kowloon,0.11,0.30,0.37,0.30,0.51,0.52,0.05,0.15,0.26,0.08,0.35,0.86,0.52,0.99,0.99,0.05,0.52
5,Female_New Territories,0.06,0.31,0.32,0.31,0.48,0.47,0.04,0.17,0.23,0.08,0.26,0.89,0.47,0.96,0.96,0.05,0.47
6,Male_New Territories,0.07,0.28,0.31,0.31,0.47,0.46,0.04,0.18,0.26,0.09,0.26,0.89,0.46,0.96,0.96,0.05,0.46
7,Female_Hong Kong Island,0.09,0.53,0.37,0.33,0.55,0.56,0.05,0.18,0.33,0.06,0.28,0.97,0.56,0.99,0.99,0.05,0.56
8,Male_Hong Kong Island,0.12,0.46,0.40,0.35,0.55,0.57,0.06,0.14,0.34,0.07,0.30,0.98,0.57,0.99,0.99,0.06,0.57
9,Kowloon <15,0.22,0.43,0.39,0.35,0.56,0.56,0.21,0.24,0.35,0.23,0.37,0.85,0.56,0.99,0.99,0.21,0.56
10,New Territories <15,0.23,0.40,0.40,0.40,0.52,0.51,0.22,0.23,0.32,0.23,0.32,0.90,0.51,0.97,0.97,0.22,0.51
11,Hong Kong Island <15,0.12,0.46,0.40,0.35,0.55,0.57,0.06,0.14,0.34,0.07,0.30,0.98,0.57,0.99,0.99,0.06,0.57
12,Kowloon 15_39,0.14,0.33,0.38,0.31,0.52,0.52,0.09,0.20,0.28,0.12,0.35,0.86,0.52,0.99,0.99,0.09,0.52
13,New Territories 15_39,0.11,0.31,0.33,0.32,0.49,0.48,0.10,0.24,0.27,0.14,0.27,0.89,0.48,0.96,0.96,0.10,0.48
14,Hong Kong Island 15_39,0.13,0.50,0.40,0.35,0.55,0.56,0.09,0.20,0.34,0.10,0.29,0.98,0.56,0.99,0.99,0.10,0.56
15,Kowloon 40_64,0.13,0.34,0.39,0.32,0.51,0.51,0.07,0.14,0.24,0.10,0.35,0.86,0.51,0.99,0.99,0.07,0.51
16,New Territories 40_64,0.08,0.32,0.32,0.32,0.48,0.47,0.07,0.18,0.23,0.11,0.27,0.89,0.47,0.96,0.96,0.08,0.47
17,Hong Kong Island 40_64,0.11,0.52,0.39,0.34,0.55,0.56,0.07,0.17,0.33,0.08,0.30,0.97,0.56,0.99,0.99,0.07,0.56
18,Kowloon 65,0.25,0.35,0.43,0.37,0.54,0.54,0.22,0.23,0.32,0.22,0.43,0.87,0.54,0.99,0.99,0.23,0.54
19,New Territories 65,0.25,0.31,0.37,0.38,0.51,0.50,0.25,0.26,0.35,0.24,0.37,0.89,0.50,0.97,0.97,0.25,0.50
20,Hong Kong Island 65,0.23,0.47,0.42,0.39,0.59,0.60,0.22,0.21,0.43,0.22,0.39,0.98,0.60,0.99,0.99,0.22,0.60

In [ ]:
#df_regiongini.to_csv('df_regionginiV2.csv', index = False)

# Classification

In [126]:
for i in df_final.columns:
    try:
        df_final[i] = df_final[i].astype(float)
    except:
        print('Error')

Error
Error
Error
Error

In [127]:
#df_final['Overall SDG Score'] = df_final['Overall SDG Score'].astype(float)

In [128]:
#df_final['Category'] = df_final['Overall SDG Score'] // 1

In [129]:
#df_final['Category'].min()

In [130]:
#pip install -U Jinja2

In [131]:
#df_final.info()

In [132]:
from pycaret.regression import *

In [133]:
#df_final.columns

In [134]:
#df_regression

In [135]:
exp_name = setup(data = df_final,  target = 'Overall SDG Score')

In [136]:
best_model = compare_models()

In [137]:
df_corr = pd.DataFrame()

In [138]:
df_corr = df_final.corr()

In [139]:
df_corr = df_corr.reset_index()

In [140]:
for i in df_corr.columns:
    try:
        df_corr[i] = df_corr[i].round(2)
    except:
        print('Error')

Error

In [141]:
df_corr

,index,lat,lon,TotalPopulation,Working population,Male,Female,Income,WasteManagementScore,HospitalScore,...,SDG13,SDG14,SDG15,SDG16,SDG17,< 15,15 - 39,40 - 64,65+,Overall SDG Score
0,lat,1.00,-0.77,-0.06,-0.06,-0.06,-0.06,-0.00,0.24,-0.15,...,-0.06,0.23,0.23,0.06,-0.06,0.00,-0.00,-0.01,0.00,-0.06
1,lon,-0.77,1.00,0.09,0.08,0.09,0.08,-0.04,-0.19,0.21,...,0.09,-0.24,-0.24,-0.09,0.09,0.02,-0.01,-0.00,0.00,0.15
2,TotalPopulation,-0.06,0.09,1.00,0.99,1.00,1.00,-0.04,-0.13,-0.46,...,1.00,-0.04,-0.04,-1.00,1.00,0.08,0.01,-0.01,-0.04,0.41
3,Working population,-0.06,0.08,0.99,1.00,0.98,0.98,0.01,-0.13,-0.45,...,0.99,-0.04,-0.04,-0.99,0.99,0.08,0.06,0.04,-0.12,0.42
4,Male,-0.06,0.09,1.00,0.98,1.00,0.98,-0.07,-0.13,-0.46,...,1.00,-0.04,-0.04,-1.00,1.00,0.07,0.02,-0.01,-0.05,0.40
5,Female,-0.06,0.08,1.00,0.98,0.98,1.00,-0.02,-0.13,-0.45,...,1.00,-0.04,-0.04,-1.00,1.00,0.08,-0.01,0.00,-0.04,0.41
6,Income,-0.00,-0.04,-0.04,0.01,-0.07,-0.02,1.00,-0.01,-0.04,...,-0.04,-0.01,-0.01,0.04,-0.04,0.17,-0.02,0.28,-0.28,0.11
7,WasteManagementScore,0.24,-0.19,-0.13,-0.13,-0.13,-0.13,-0.01,1.00,0.09,...,-0.13,0.51,0.51,0.13,-0.13,-0.03,-0.03,0.04,0.01,0.40
8,HospitalScore,-0.15,0.21,-0.46,-0.45,-0.46,-0.45,-0.04,0.09,1.00,...,-0.46,-0.09,-0.09,0.46,-0.46,-0.14,0.06,0.03,0.02,0.35
9,SchoolScore,-0.14,0.19,-0.41,-0.40,-0.41,-0.40,-0.04,0.09,0.83,...,-0.41,-0.08,-0.08,0.41,-0.41,-0.10,0.02,0.02,0.03,0.34
10,PoliceScore,0.12,-0.09,-0.21,-0.21,-0.21,-0.21,-0.06,0.58,0.22,...,-0.21,0.41,0.41,0.21,-0.21,0.04,-0.04,0.03,-0.01,0.32
11,ElderlyCareScore,0.01,-0.02,-0.15,-0.15,-0.15,-0.15,-0.02,0.50,0.38,...,-0.15,0.11,0.11,0.15,-0.15,-0.06,0.02,0.00,0.01,0.45
12,ChildCareScore,0.16,-0.20,-0.14,-0.14,-0.14,-0.14,-0.04,0.72,0.20,...,-0.14,0.65,0.65,0.14,-0.14,-0.06,0.02,0.00,0.02,0.45
13,SDG1,-0.11,0.16,-0.45,-0.44,-0.45,-0.44,-0.02,0.22,0.93,...,-0.45,0.00,0.00,0.45,-0.45,-0.09,0.09,0.04,-0.04,0.44
14,SDG2,-0.01,-0.03,-0.06,-0.03,-0.08,-0.03,0.88,-0.04,-0.06,...,-0.06,-0.01,-0.01,0.06,-0.06,0.12,-0.04,0.19,-0.18,0.11
15,SDG3,-0.18,0.24,-0.20,-0.19,-0.21,-0.19,0.03,0.07,0.95,...,-0.20,-0.11,-0.11,0.20,-0.20,-0.10,0.06,0.06,-0.03,0.53
16,SDG4,-0.18,0.24,0.38,0.38,0.37,0.38,0.02,-0.01,0.46,...,0.38,-0.11,-0.11,-0.38,0.38,0.00,0.02,0.05,-0.05,0.68
17,SDG5,-0.05,0.08,0.99,0.98,0.98,1.00,-0.01,-0.12,-0.43,...,0.99,-0.03,-0.03,-0.99,0.99,0.08,-0.01,0.00,-0.04,0.43
18,SDG6,-0.06,0.09,1.00,0.99,1.00,1.00,-0.04,-0.13,-0.46,...,1.00,-0.04,-0.04,-1.00,1.00,0.08,0.01,-0.01,-0.04,0.41
19,SDG7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,SDG8,-0.04,0.02,0.52,0.57,0.51,0.53,0.46,-0.08,-0.21,...,0.52,-0.03,-0.03,-0.52,0.52,-0.15,0.51,-0.03,-0.29,0.41
21,SDG9,-0.03,0.09,0.16,0.12,0.18,0.14,-0.51,-0.04,-0.16,...,0.16,0.00,0.00,-0.16,0.16,0.07,0.08,-0.17,0.01,0.12
22,SDG10,-0.01,0.01,0.30,0.35,0.29,0.31,0.19,-0.03,-0.10,...,0.30,-0.01,-0.01,-0.30,0.30,0.02,0.20,0.05,-0.20,0.33
23,SDG11,0.02,0.04,0.01,-0.01,0.01,0.00,-0.17,0.50,0.08,...,0.01,0.12,0.12,-0.01,0.01,-0.07,-0.07,0.00,0.10,0.45
24,SDG12,0.24,-0.19,-0.13,-0.13,-0.13,-0.13,-0.01,1.00,0.09,...,-0.13,0.51,0.51,0.13,-0.13,-0.03,-0.03,0.04,0.01,0.40
25,SDG13,-0.06,0.09,1.00,0.99,1.00,1.00,-0.04,-0.13,-0.46,...,1.00,-0.04,-0.04,-1.00,1.00,0.08,0.01,-0.01,-0.04,0.41
26,SDG14,0.23,-0.24,-0.04,-0.04,-0.04,-0.04,-0.01,0.51,-0.09,...,-0.04,1.00,1.00,0.04,-0.04,-0.02,-0.00,0.01,0.01,0.26
27,SDG15,0.23,-0.24,-0.04,-0.04,-0.04,-0.04,-0.01,0.51,-0.09,...,-0.04,1.00,1.00,0.04,-0.04,-0.02,-0.00,0.01,0.01,0.26
28,SDG16,0.06,-0.09,-1.00,-0.99,-1.00,-1.00,0.04,0.13,0.46,...,-1.00,0.04,0.04,1.00,-1.00,-0.08,-0.01,0.01,0.04,-0.41
29,SDG17,-0.06,0.09,1.00,0.99,1.00,1.00,-0.04,-0.13,-0.46,...,1.00,-0.04,-0.04,-1.00,1.00,0.08,0.01,-0.01,-0.04,0.41
30,< 15,0.00,0.02,0.08,0.08,0.07,0.08,0.17,-0.03,-0.14,...,0.08,-0.02,-0.02,-0.08,0.08,1.00,0.06,-0.20,-0.49,-0.04
31,15 - 39,-0.00,-0.01,0.01,0.06,0.02,-0.01,-0.02,-0.03,0.06,...,0.01,-0.00,-0.00,-0.01,0.01,0.06,1.00,-0.31,-0.62,0.16
32,40 - 64,-0.01,-0.00,-0.01,0.04,-0.01,0.00,0.28,0.04,0.03,...,-0.01,0.01,0.01,0.01,-0.01,-0.20,-0.31,1.00,-0.33,0.04
33,65+,0.00,0.00,-0.04,-0.12,-0.05,-0.04,-0.28,0.01,0.02,...,-0.04,0.01,0.01,0.04,-0.04,-0.49,-0.62,-0.33,1.00,-0.14
34,Overall SDG Score,-0.06,0.15,0.41,0.42,0.40,0.41,0.11,0.40,0.35,...,0.41,0.26,0.26,-0.41,0.41,-0.04,0.16,0.04,-0.14,1.00

In [ ]:
#df_corr.to_csv('Correlation.csv', index = False)